.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 60px;
}
.links {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}
