.main {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.feed {
  width: 70%;
  padding: 50px;
  padding-top: 0;
}
.filters {
  width: 30%;
  padding: 50px;
  padding-top: 0;
}
